
@keyframes fadein {
    from { opacity: 0; }
    to {   opacity: 1; }
}
* {
    font-family: 'IBM Plex Mono';
}



@keyframes rainlight {
    
    00% { background-color: hsl(180, 100%, 90%); }
    20% { background-color: hsl(240, 100%, 90%); }
    40% { background-color: hsl(300, 100%, 90%); }
    60% { background-color: hsl(360, 100%, 90%); }
    80% { background-color: hsl(0, 100%, 90%); }
    100% { background-color: hsl(60, 100%, 90%); }
}

#front, body {
    margin:0px 0px 0px 0px;
}

#logo {
    display: block;
	
    width:90vw;
    padding-left: 5vw;
    padding-right:5vw;
    margin-top: 0px;
    margin-bottom:0px;

    animation: rainlight 60s ease-in-out both infinite;
}


.bar {
    height: 4px;
    margin: 0px 0px 0px 0px;
    border: none;
    background-color: hsl(192, 60%, 50%);
}

#title {
    margin: 0px 64px 0px 128px;
    padding: 0px 0px 0px 0px;
    font-size: 48px;
    font-weight: bold;
}

h1 {
    font-size:42px;
}
h2 {
    font-size:30px;
}


#content {
    margin-left: 128px;
}
#content > p, #items > p {
    font-size:32px;
}

    #content li {
        font-size: 28px;
    }


#itemsDesc {
    margin-left: 128px;
    margin-right:256px;
    font-size: 32px;
}

.fadein {
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}





#items {
    align-items: center;
    justify-items: center;
    text-align: center;


}

    #items > div {
        width: 540px;
        display: block;
        border: 4px solid black;
        display: inline-block;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        vertical-align: top;
        background-color: white;
    }

        #items > div > h2 {
            margin: 8px 0px 8px 0px;
            text-align: center;
        }

        #items > div > img {
            width: 100%;
        }
        #items > div > p {
            text-align: left;
            font-size: 24px;
            margin: 8px 0px 8px 12px;
        }